#app {dir}
/app/---ContactRequest.php
/app/---CustomerRequest.php
/app/---Location.php
/app/---RoleUser.php


/resources/assets/sass/bootstrap
/resources/assets/sass/partials/_normalize.scss
/resources/assets/sass/fontawesome
/bower_components
/histroy-zip
/downloaded

/resources/views/site/preiousfiles
#tradepeople dir
/resources/views/site/tradepeople/--index.blade.php
/resources/views/site/tradepeople/--index.blade.php

#basic
/vendor
/node_modules
/video
/zip

composer.phar
Thumbs.db
.extra
.env
.zip
.DS_Store
.vagrant
.sass-cache
Vagrantfile
*.sublime-project
*.sublime-workspace
24seven-home.sql
24seven.zip

assets/front_lib/js/temp.js
app/Http/Controllers/---CategoryController.php
app/Http/Controllers/---ClientsController.php
app/Http/Controllers/---HomesOwnerController.php
app/Http/Controllers/---LocationController.php
app/Http/Controllers/---MenuLinkController.php
resources/views/site/homeowner/---reviewModel.blade.php
